.podium-section {
    display: flex;
    justify-content: space-around;
    margin: 10px auto 70px auto;
}

.podium-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info {
    text-align: center;
    margin-top: -10px;
}

.game-info2 {
    text-align: center;
    margin-top: 10px;
}

.game-info3 {
    text-align: center;
    margin-top: 30px;
}

.game-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.podium-bar-container {
    width: 100px; /* Adjust width as needed */
    height: 220px; /* Adjust height as needed */
    position: relative;
}

.podium-bar-container2 {
    width: 100px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    position: relative;
}

.podium-bar-container3 {
    width: 100px; /* Adjust width as needed */
    height: 180px; /* Adjust height as needed */
    position: relative;
}

.podium-bar {
    width: 100%;
    height: 100%;
    border: 3px solid transparent; /* Start with transparent border */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.podium-bar:hover {
    border-color: #cda50f; /* Adjust color on hover if desired */
}

.podium-gold {
    border-color: #ffd700; /* Gold color for 1st place */
}

.podium-silver {
    border-color: #c0c0c0; /* Silver color for 2nd place */
}

.podium-bronze {
    border-color: #cd7f32; /* Bronze color for 3rd place */
}

.podium-rank {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2;
}

.podium-rating {
    font-size: 1.2rem;
    color: #333;
    z-index: 1;
}