.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 2rem;
    line-height: 1;
}

.game-card-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

