@page "/marketplace"
@using Frontend.Components.Pages.Marketplace.Components

<PageTitle>Marketplace</PageTitle>

<div class="main">
    <div class="title">Marketplace</div>
    <div>
        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search...">
    </div>
    <div class="game-card-container">
        @for (var i = 0; i < 9; i++) {  
                <ListingCard ListingId="@i" />
        }
    </div>
</div>

@code {

}