@page "/marketplace/listing/{id}"

<PageTitle>Listing</PageTitle>

<div class="main">
    <div class="info">
        
        <div class="fw-bold fs-1">Listing</div>
        <div class="listing-info-row">
            <div class="fw-bold fs-5">Condition:</div>
            <div class="fs-5">Used</div>
        </div>
        <div class="listing-info-col">
            <div>Price</div>
            <div class="fw-bold fs-3">20€</div>
        </div>
        <div class="listing-info-row">
            <div class="fw-bold fs-5">Seller:</div>
            <div class="fs-5">João Alves</div>
        </div>
        <div class="actions">
            <div class="listing-info-row">
                <button type="button" class="btn btn-outline-primary">Add to cart</button>
                <button type="button" class="btn btn-primary">Buy now</button>
            </div>
            <a href="/marketplace/" type="button" class="btn btn-outline-secondary">Go back</a>
        </div>
    </div>
    <div class="slideshow">
        <img src="https://picsum.photos/600/400" alt="">
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }
}