@using ESOF.WebApp.WebAPI.DtoClasses.Response
@typeparam TItem

<a href="/marketplace/listing/@game.id" class="card position-relative">
    <img src="https://picsum.photos/500/700" class="card-img" alt="...">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
        <h5 class="card-title text-white mb-0">@game.name</h5>
        <p class="card-text text-white">@game.price€</p>
    </div>
</a>

@code {
    [Parameter]
    public ResponseMKP_GameDto game { get; set; }
}
