@page "/add-mod"
@using ESOF.WebApp.DBLayer.Entities
@using Frontend.Helpers
@inject ApiHelper ApiHelper
@inject NavigationManager NavigationManager

<PageTitle>Add New Mod</PageTitle>

<h1>Add New Mod</h1>

<EditForm Model="newMod" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>

@code {
    private Mod newMod = new Mod();

    private async Task HandleValidSubmit()
    {
        var result = await ApiHelper.PostToApiAsync<Mod>("mods", newMod);
        if (result)
        {
            NavigationManager.NavigateTo("/mods");
        }
        else
        {
    // Handle the error scenario
        }
    }
}