@page "/add-mod"
@using System.Net.Http.Json
@inject HttpClient Http
@inject IJSRuntime JS
@code {
    //private string name = "Fight2Survive";
    //private string game = "Total Fight";
    //private string description = "This mod add more fighting techniques and a lot more weapons!";
    //private string author = "TimMint";
    //private string version = "2";
    //private string downloadlink = "https://example.com/fight2survive";
    private string name = "BeatifulTF";
    private string game = "Total Fight";
    private string description = "Better graphics.";
    private string author = "TimMint";
    private string version = "1";
    private string downloadlink = "https://example.com/beautifultf/";
    private string alertMessage = string.Empty;
    private string alertClass = string.Empty;
    private bool showMessageContainer = false;
    private Guid createdModId;
    private bool shouldRedirect = false;

    private async Task SubmitForm()
    {
        try
        {
            ModFormModel formData = new ModFormModel
            {
                ModId = Guid.NewGuid(),
                Name = name,
                Game = game,
                Description = description,
                ReleaseDate = DateTime.UtcNow,
                Author = author,
                Version = version,
                DownloadLink = downloadlink,
                DownloadCount = 0,
                Rating = 0
            };
            // Log form data to the server console
            Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(formData));

            var response = await Http.PostAsJsonAsync("/mods", formData);
            if (response.IsSuccessStatusCode)
            {
                createdModId = formData.ModId;
                ShowMessage("Mod created successfully.", "alert-success");
                shouldRedirect = true;
            }
            else
            {
                var responseBody = await response.Content.ReadAsStringAsync();
                ShowMessage($"Error creating mod: {response.ReasonPhrase} - {responseBody}", "alert-danger");
            }
        }
        catch (Exception ex)
        {
            ShowMessage("Error creating mod: " + ex.Message, "alert-danger");
        }
    }

    private void ShowMessage(string message, string alertClass)
    {
        alertMessage = message;
        this.alertClass = alertClass;
        showMessageContainer = true;
    }

    public class ModFormModel
    {
        public Guid ModId { get; set; }
        public string Name { get; set; }
        public string Game { get; set; }
        public string Description { get; set; }
        public DateTime ReleaseDate { get; set; }
        public string Author { get; set; }
        public string Version { get; set; }
        public string DownloadLink { get; set; }
        public int DownloadCount { get; set; }
        public int Rating { get; set; }
    }
}

<div class="container">
    <h1>Add New Mod</h1>
    <EditForm Model="this" OnValidSubmit=@SubmitForm FormName="AddMod">
        <div class="mb-3">
            <label for="modName" class="form-label">Mod Name</label>
            <InputText @bind-Value="name" @bind:event="oninput"/>
        </div>
        <div class="mb-3">
            <label for="gameName" class="form-label">Game Name</label>
            <InputText @bind-Value="game" @bind:event="oninput"/>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <InputText @bind-Value="description" @bind:event="oninput"/>
        </div>
        <div class="mb-3">
            <label for="authorName" class="form-label">Author Name</label>
           <InputText @bind-Value="author" @bind:event="oninput"/>
        </div>
        <div class="mb-3">
            <label for="version" class="form-label">Version</label>
            <InputText @bind-Value="version" @bind:event="oninput"/>
        </div>
        <div class="mb-3">
            <label for="downloadLink" class="form-label">Download Link</label>
            <InputText @bind-Value="downloadlink" @bind:event="oninput"/>
        </div>
        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </EditForm>
    
    @if (shouldRedirect)
        {
            <NavLink class="nav-link" href="@($"/add-tags/{createdModId}")">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Adicionar Tags ao Mod
            </NavLink>
        }

    @if (showMessageContainer)
    {
        <div id="messageContainer" class="m-2">
            <div id="alertBox" class="alert @alertClass">@alertMessage</div>
        </div>
    }
</div>
