@page "/add-mod"
@using ESOF.WebApp.DBLayer.Entities
@using Frontend.Helpers
@using Microsoft.EntityFrameworkCore
@inject ApiHelper ApiHelper
@inject NavigationManager NavigationManager
@inject ESOF.WebApp.DBLayer.Context.ApplicationDbContext dbContext

<PageTitle>Add New Mod</PageTitle>

<h1>Add New Mod</h1>

<EditForm Model="@newMod" OnValidSubmit="HandleValidSubmit" FormName="AddModForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Mod name:</label>
        <InputText id="name" class="form-control" @bind-Value="newMod.Name" placeholder="Enter the mod name" />
    </div>

    <div class="form-group">
        <label for="game">Game:</label>
        <InputText id="game" class="form-control" @bind-Value="newMod.Game" placeholder="Enter the game name" />
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <InputTextArea id="description" class="form-control" @bind-Value="newMod.Description" placeholder="Enter the mod description" />
    </div>

    <div class="form-group">
        <label for="releaseDate">Release Date:</label>
        <InputDate id="releaseDate" class="form-control" @bind-Value="newMod.ReleaseDate" />
    </div>

    <div class="form-group">
        <label for="author">Author:</label>
        <InputText id="author" class="form-control" @bind-Value="newMod.Author" placeholder="Enter the author's name" />
    </div>

    <div class="form-group">
        <label for="version">Version:</label>
        <InputText id="version" class="form-control" @bind-Value="newMod.Version" placeholder="Enter the version (optional)" />
    </div>

    <div class="form-group">
        <label for="downloadLink">Download Link:</label>
        <InputText id="downloadLink" class="form-control" @bind-Value="newMod.DownloadLink" placeholder="Enter the download link (optional)" />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>


    @code {
    public Mod newMod = new Mod();

    private async Task HandleValidSubmit()
    {
        dbContext.Mods.Add(newMod);
        await dbContext.SaveChangesAsync();
    }
}
