@inherits LayoutComponentBase

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Gaming-Login</title>
</head>

<div>
    <br/><br/>
    @Body
</div>

