@page "/games"
@using System.Collections.Generic

<h1 class="text-center mt-4 retro-title">Games Emulator</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div id="game-container" class="game-container"></div>
        </div>
    </div>

    <h2 class="text-center mt-5 retro-subtitle">Explore Games</h2>

     <div id="box">
          <input type="file" id="input" />
          Drag ROM file or click here
        </div>
    <div class="row mt-4">
        @foreach (var game in Games)
        {
        <div class="col-md-4 mb-4">
            <div class="card border border-warning rounded shadow retro-card">
                <img src="@game.ImageUrl" class="card-img-top rounded-top" alt="@game.Name">
                <div class="card-body">
                    <h5 class="card-title retro-card-title">@game.Name</h5>
                    <p class="card-text retro-card-text">Description of the game goes here.</p>
                    <a href="#" class="btn btn-primary btn-block retro-btn">Play Now</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>

@code {
// Mock data for games (replace with actual data)
List<GameInfo> Games = new List<GameInfo>
{
new GameInfo { Name = "Mega Mountain", ImageUrl = "https://s2-techtudo.glbimg.com/dLHiEFov94ONVIVLP2V85FWh7hE=/0x0:695x390/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/3/t/9vl0fdRyi9SvlPOe33yA/subway-surfers-mais-baixado-downloads-decada-2010-2019.jpg" },
new GameInfo { Name = "Super Adventure", ImageUrl = "https://www.example.com/super_adventure.jpg" },
new GameInfo { Name = "Fantasy Quest", ImageUrl = "https://www.example.com/fantasy_quest.jpg" }
};

public class GameInfo
{
public string Name { get; set; }
public string ImageUrl { get; set; }
}

protected override async Task OnAfterRenderAsync(bool firstRender)
{
if (firstRender)
{
// Carregar Emulator.js após o primeiro render da página
await JSRuntime.InvokeVoidAsync("loadEmulatorJs");

// Inicializar Emulator.js com o jogo específico
await JSRuntime.InvokeVoidAsync("initializeEmulatorJs");
}
}
}
