@page "/gametok"

<h3>Gametok</h3>
<div class="container">
    <div class="content">
        <div class="main-challenge">
            <h1>Challenges</h1>
            <div class="challenge-details">
                <div class="challenge-video"></div>
                <div class="challenge-info">
                    <button class="icon-button">User</button>
                    <button class="icon-button">Like</button>
                    <button class="icon-button">Comment</button>
                    <button class="upload-button">Upload</button>
                    <div class="caption">Caption</div>
                    <div class="description">Challenge Description</div>
                </div>
            </div>
        </div>
        <div class="more-challenges">
            <h2>More like this</h2>
            <div class="challenges-list">
                <div class="challenge-item"></div>
                <div class="challenge-item"></div>
                <div class="challenge-item"></div>
            </div>
            <h2>Other Challenges</h2>
            <div class="challenges-list">
                <div class="challenge-item"></div>
                <div class="challenge-item"></div>
                <div class="challenge-item"></div>
            </div>
        </div>
    </div>
</div>
@code {
    
}