@page "/gametok"

<h1>Gametok</h1>

<div class="main">
    <div class="video-list">
        <a class="video" href="/gametok/watch/">
            <div class="content">
                <video></video>
            </div>
            <div class="information">
                <p>Caption</p>
                <div>
                    <p>Username</p>

                    <div>
                        <p>Likes</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


@code {
    
}