.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p, a{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.5rem;
}

.video-list .video {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
}

.video-list .video .content{
    display: flex;
    flex-direction: column;
    background-color: #FFDC9B;
    border-radius: 0.8rem;
    
    width: 240px;
    aspect-ratio: 9/12;
}

.video-list .video .content video{
    width: 100%;
    height: 100%;
}

.video-list .video .information{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.video-list .video .information > div {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
