@page "/leaderboard"
@rendermode InteractiveServer

<PageTitle>Leaderboard</PageTitle>

<h1>User Evaluation Leaderboard</h1>

<div class="row">
    <div class="col-md-4">
        <!-- Wrap the entire card with NavLink -->
        <NavLink class="card-link no-link-style" href="game/reviews">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="favicon.png" class="card-img" alt="Game 1 Logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Game 1</h5>
                            <p class="card-text">Rating: <i class="bi bi-hand-thumbs-up text-success"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col-md-4">
        <!-- Wrap the entire card with NavLink -->
        <NavLink class="card-link no-link-style" href="game/reviews">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="favicon.png" class="card-img" alt="Game 1 Logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Game 1</h5>
                            <p class="card-text">Rating: <i class="bi bi-hand-thumbs-up text-success"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col-md-4">
        <!-- Wrap the entire card with NavLink -->
        <NavLink class="card-link no-link-style" href="game/reviews">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="favicon.png" class="card-img" alt="Game 1 Logo">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Game 1</h5>
                            <p class="card-text">Rating: <i class="bi bi-hand-thumbs-up text-success"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </NavLink>
    </div>


</div>

